<md-content flex layout-padding>
    <md-content flex layout-padding>
        <h3>What's PCMR Electronics and why?</h3>
        <p>
            Suite au dévoilement de PCMR Electronics Inc., une nouvelle plateforme web de vente d’équipement électronique en ligne,
            le promoteur est à la recherche d’une solution clé en main lui permettant d’établir une forte présence en ligne le plus rapidement possible.
            Pour ce faire, cette plateforme devra être flexible, dynamique et fiable. De plus, celle-ci utilisera les technologies les plus récentes et attrayantes aux yeux du consommateur.
            Finalement, le coût final devra être proportionnel aux fonctionnalités disponibles et fonctionnelles et être conforme au plan d'exécution initial.
        </p>
    </md-content>
    <md-content flex layout-padding>
        <h3>Project caracteristics</h3>

        <md-list flex>
            <md-list-item class="md-1-line" ng-click="null">
                <div class="md-list-item-text" layout="row">
                    Voici la liste des caractéristiques principales du projet. Celles-ci sont nécessaires au bon fonctionnement de la plateforme:
                </div>
            </md-list-item>
            <md-list-item class="md-1-line" ng-click="null">
                <div class="md-list-item-text" layout="row">
                    <i class="glyphicon glyphicon-minus" style="margin-top:9px"></i>
                    &nbsp;Une section d’authentification pour les utilisateurs et les administrateurs.
                </div>
            </md-list-item>
            <md-list-item class="md-1-line" ng-click="null">
                <div class="md-list-item-text" layout="row">
                    <i class="glyphicon glyphicon-minus" style="margin-top:9px"></i>
                    &nbsp;Une section permettant de créer un compte utilisateur.
                </div>
            </md-list-item>
            <md-list-item class="md-1-line" ng-click="null">
                <div class="md-list-item-text" layout="row">
                    <i class="glyphicon glyphicon-minus" style="margin-top:9px"></i>
                    &nbsp;Un panier d’achat.
                </div>
            </md-list-item>
            <md-list-item class="md-1-line" ng-click="null">
                <div class="md-list-item-text" layout="row">
                    <i class="glyphicon glyphicon-minus" style="margin-top:9px"></i>
                    &nbsp;Un menu intuitif.
                </div>
            </md-list-item>
        </md-list>

    </md-content>
    <md-content flex layout-padding>
        <h3>Features that will be added in the future</h3>

        <md-list flex>
            </md-list-item>
            <md-list-item class="md-1-line" ng-click="null">
                <div class="md-list-item-text" layout="row">
                    <i class="glyphicon glyphicon-ok" style="margin-top:9px"></i>
                    &nbsp;Un outil de construction de PC à la fine pointe de la technologie, permettant de gérer la compatibilité des périphériques
                    et composants internes, en plus de gérer la capacité de l’alimentation et les dimensions du boitier par rapport &nbsp;&nbsp;aux pièces internes.
                </div>
            </md-list-item>
            <md-list-item class="md-1-line" ng-click="null">
                <div class="md-list-item-text" layout="row">
                    <i class="glyphicon glyphicon-ok" style="margin-top:9px"></i>
                    &nbsp;Un panneau d’administration permettant de gérer la plateforme web, les utilisateurs et de générer des rapports de différents types.
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-click="null">
                <div class="md-list-item-text" layout="row">
                    <i class="glyphicon glyphicon-ok" style="margin-top:9px"></i>
                    &nbsp;Un outil de comparaison des prix avec différentes plateformes pour montrer notre polyvalence à fournir le meilleur prix en ligne.
                </div>
            </md-list-item>
            <md-list-item class="md-1-line" ng-click="null">
                <div class="md-list-item-text" layout="row">
                    <i class="glyphicon glyphicon-ok" style="margin-top:9px"></i>
                    &nbsp; Implémenter un design graphique minimaliste et aux couleurs vives (Flat Design).
                </div>
            </md-list-item>
        </md-list>

    </md-content>
</md-content>
<!-- <ul>
<li>Une section permettant de créer un compte utilisateur.</li>
<li>Une section d’authentification pour les utilisateurs et les administrateurs.</li>
<li>Un panier d’achat.</li>
<li>Un menu intuitif.</li>
</ul> -->
